main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 10px;
  overflow: hidden;
}

.slider_slides {
  width: 100%;
  padding-top: 66%;
}

.slider_slide {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: 0;
}

.slider_slide.active {
    opacity: 1;
}

.slider_slide img {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#prev {
    top: 50%;
    left: 10px;
}

#next {
    top: 50%;
    right: 10px;
}

@media screen and (max-width: 640px) {
  .button {
    height: 40px;
    width: 40px;
  }

  #prev {
    left: 5px;
  }

  #next {
    right: 5px;
  }
}
